body {
    background-color: #d6d6e7;
    font-family: Arial, Helvetica, sans-serif;
    color: #23263b;
}

.appTitle {
    font-size: 50px;
    color: #EA4C89;
}

.general {
    background-color: #b6b7d5;
    display: flex;
    flex-direction: row;
    color: azure;
 
}

.generalInfo {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.generalInfoDIv{
    display: flex;
  
}

.generalInfoDIv h2 {
    color: #fed59a;
    margin: 20px;
}
.education{
    background-color: #9698c3;
    display: flex;
    flex-direction: row;
}
.infoTitle {
    width: 80%;
   border-radius: 5px;
   
}
.infoTitle li {
    color: white;
    height: 10%;
    width: 24%;
    font-size: 20px;
    font-weight: 700;
   
}
.educationInfoDiv {
    display: grid;
     width: 90%;
     grid-template-columns: 1fr;
     
   
}
.infoSchool {
    width: 80%;
    border-radius: 5px;
}
.infoSchool li {
    width: 25%;
    background-color: #feb9e2;
    color: #2b3cbb;
    height: 20%;
    font-size: 15px;
}
.experience {

    background-color: #777aaf;
    display: flex;
    flex-direction: row;
}
.experienceInfoDiv {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
       
}
.infoTitleExperience {
    width: 80%;
   border-radius: 5px;
   
}
.infoTitleExperience li {
    color: white;
    height: 10%;
    width: 24%;
    font-size: 20px;
    font-weight: 700;
   
}
.infoExperience {
    width: 87%;
    border-radius: 5px;
}
.infoExperience li {
    width: 27%;
    background-color: #feb9e2;
    color: #2b3cbb;
    height: 20%;
    font-size: 15px;
}

form {
   
    display: flex;
    flex-direction: column;
    margin-left: 30px ;
    margin-right: 50px;
    padding: 10px;
}

ul {
    background-color: #fd89ce;
    display: flex;
    flex-direction: row;
}

li {
    border-radius: 5px;
    height: 10%;
    margin: 5px;
    list-style: none;
   padding: 20px;
}


.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

input {

    
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    margin: 10px;
    :focus{
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    }
    


}
